body{
    background-color: #F5F5FC;
   font-family: "Roboto", sans-serif;;
}

h1{
    text-align: center;
    padding: 20px 0px 10px;
    font-size: 3cap;
}

hr {
    border: none;      
  height: 1px;      
  background-color: #A2AAB0;
    margin: 10px 30px;
}

.choose-city {
display: block;
    width: 100%; 
    max-width: 450px; 
    margin: 0 auto; 
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #A2AAB0;
    font-size: 16px;
box-sizing: border-box;
}

.container {
    background-color:#FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 600px; 
  width: 95%;        
  margin: 20px auto;
 padding-bottom: 5px;
     
}

.city {
    display: flex;
    justify-content: space-between;
    align-items: center;
        margin: 20px 35px;
}

h2 {
    margin:7px 0;
            font-size:26px;
            text-align: start ;
}

.date {
    font-size:13px;
     font-weight: 400;
    opacity: 0.5;
    text-align: start ;
}

.all-cities-link {
    display: block;
    margin-top: 10px;
}

.time {
    font-weight: bolder;
    font-size:30px;
    padding-top: 15px;
    vertical-align: middle; 
}

.time small {
   font-size: 0.5em; 
  vertical-align: middle; 
}

footer{
    text-align: center;
    margin-top: 30px;
    font-size: smaller;
}